<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mybatis.dao.MemberDao">

	<select id="memberList" resultType="com.exam.mybatis.dto.MemberDto">
		select * from member
	</select>
<!-- 		select * from member where num=? jsp에서 쓴 것처럼 ? 물음표 매개변수를 사용하지 못함  -->
	
<!-- 	resultType은 반환값이 있을 때만 사용하는 것이라, insert, update, delete에는 사용할 일이 적음  -->
<!-- 	<insert id="test"> -->
<!-- 	</insert> -->

<!-- 	<update id=""></update> -->
	
<!-- 	<delete id=""></delete> -->
</mapper>