<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div#wrap {
            background-color: #f3fae4;
            padding: 10px;
            width: 600px;
            border: 1px solid #000;
        }
    </style>

</head>

<body>
    <div id = "wrap">
        <h1>
            시애틀에서 클래식 아이팟
        </h1>
        <img src="../images/seattle_classic.jpg" alt="시애틀 클래식">
        <br>
        <a href="/T_index.html">돌아가기</a>
    </div>
</body>

</html>