@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 270px;
  padding: 10px;
  border: 3px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
}

h1 {
	font-size: 28px;
}
hr {
	margin: 10px auto;
}

form {
	padding: 10px 0;
}
ul, ol {
	margin-left: 20px;
}
ul > li, ol > li{
	height: 30px;
}
span.sTitle {
	width: 50px;
	display: inline-block;
}
span+input[type=text] {
	width: 160px;
	padding: 3px 8px;
	border: 1px solid #aaa;
	border-radius: 2px;
}
ul > li:nth-child(2) > label:last-child {
	display: inline-block;
	margin-left: 20px;
}
input[type=radio] {
	width: 15px;
	height: 15px;
}
select {
	width: 70px;
	font-size: 15px;
	padding: 0 4px;
	border: 1px solid #aaa;
	border-radius: 2px;
}

div#btnArea {
	padding: 10px 15px 0;
}
#btnArea button {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 0;
	cursor: pointer;
}
