@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 326px;
  padding: 20px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 10px auto;
}

form#loginFrm {
	width: 100%;
/* 	border: 1px solid #000; */
}

form h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

form#loginFrm p {
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 6px;
}

form#loginFrm input,
form#joinFrm {
	width: 300px;
	font-size: 17px;
	padding: 8px 12px;
}

#loginFrm div#btnArea {
	margin: 20px 0 0;
}
#loginFrm div#btnArea>button,
#joinFrm div#btnArea>button {
	width: 100%;
	height: 45px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	
	border: none;
	border-radius: 22px;
	background-color: #4fad75;
	cursor: pointer;
}

/* 회원가입 시작 */
form div#joinChkBoxArea {
	text-align: left;
	margin: 10px 0;
}
form div#joinChkBoxArea input {
	width: 17px;
	height: 17px;
}
/* 회원가입 끝 */

/* 개발자 지원서 시작 */
#wrap.applyWrap {
	width: 350px;
}
#wrap.applyWrap h1 {
	text-align: center;
}
#wrap.applyWrap hr {
	margin: 10px 0;
}

form#applyFrm fieldset {
	border: none;
	margin: 8px 0 3px;
}
form#applyFrm fieldset legend {
	font-weight: bold;
}
form#applyFrm label {
/* 	border: 1px solid #000; */
	margin: 6px 0 6px 45px;
	display: block;
}

form#applyFrm label span {
	width: 50px;
	display: inline-block;
}

form#applyFrm label span + input {
	font-size: 17px;
	padding: 3px 0 4px 6px;
}

fieldset#applyFieldset input[type=radio] {
	width: 14px;
	height: 14px;
	transform: translateY(2px);
}


fieldset#motiveFieldset textarea {
	width: 100%;
	height: 70px;
	
	padding: 8px;
}

form#applyFrm button {
	font-size: 13px;
	font-weight: bold;
	padding: 4px 8px;
	margin-right: 6px;
	cursor: pointer;
}
/* 개발자 지원서 끝 */

/* 지원서 목록 출력 */
div#wrap.listWrap {
	width: 600px;
}
div#wrap.listWrap header#header {
	padding: 0 30px 0 60px;
	margin-bottom: 15px;
	justify-content: space-between;
}
div#wrap.listWrap header#header h1 {
	font-size: 26px;
}
div#wrap.listWrap header#header button {
	font-size: 18px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

div#wrap.listWrap div#headerRow {
	background-color: rgba(0, 136, 255, 0.1);
	border-bottom: 2px solid #eee;
}
div#wrap.listWrap div#headerRow span {
/* 	font-weight: bold; */
	text-align: center;
	padding: 8px 0;
}
div#wrap.listWrap div.listCol span:nth-child(1) {
	width: 40px;
}
div#wrap.listWrap div.listCol span:nth-child(2) {
	width: 80px;
}
div#wrap.listWrap div.listCol span:nth-child(3) {
	width: 120px;
}
div#wrap.listWrap div.listCol span:nth-child(4) {
	width: 100px;
}
div#wrap.listWrap div.listCol span:nth-child(5) {
	flex: 1;
}
div#wrap.listWrap div.listCol span:nth-child(6) {
	width: 120px;
}

div#wrap.listWrap div.dataRow span {
	font-size: 14px;
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px solid #aaa;
}

/* width가 적용된 범위를 초과하는 내용 말줄임표 */
div#wrap.listWrap div.dataRow span.wordWrap {
	white-space: nowrap;
/* 	width: 200px; */
/* 	border: 1px solid #000; */
	overflow: hidden;
	text-overflow: ellipsis;
}

div#wrap.listWrap div.dataRow:hover {
	background-color: rgba(128, 128, 128, 0.1);
	cursor: pointer;
}


/* 상세내용보기 시작 */
div#wrap.resWrap h1 {
	font-size: 24px;	
}
div#wrap.resWrap hr {
	margin: 10px 0;
}
div#wrap.resWrap div.res {
	line-height: 40px;
}
div#wrap.resWrap div#btnArea {
	text-align: center;
	margin-top: 20px;
}
div#wrap.resWrap div#btnArea button {
	width: 80px;
	font-size: 18px;
	font-weight: bold;
	padding: 2px 0px;
	margin: 0 5px;
	cursor: pointer;
}
