@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 400px;
  padding: 10px;
  border: 4px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
}
h1 {
  text-align: center;
}
hr {
  margin: 10px 0;
}
div#resArea {
  text-align: center;
  padding: 10px;
  /* border: 1px solid #000; */
}
#resArea span {
  font-size: 18px;
  font-weight: bold;
}
#resArea input[type=text] {
  width: 120px;
  font-size: 17px;
  font-weight: bold;
  padding: 3px 8px 4px;
}
#resArea button {
  font-size: 18px;
  font-weight: bold;
  padding: 3px 6px;
  cursor: pointer;
}
