@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {
  width: 860px;
  padding: 10px;
  border: 4px solid #aaa;
  border-radius: 4px;
  margin: 10px auto;
  /* background-color: #fff; */
}
h1 {
  text-align: center;
  margin: 20px 0;
}
div#images{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#images img:hover {
  opacity: 0.8;
  cursor: pointer;
}

div#modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal span {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  user-select: none;
}
#modal span:hover {
  color: #eee;
  cursor: pointer;
}
#modal img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}